<section id="module-position-7" class="card-primary headline-grid-module" ng-controller="DiningcontrollerCtrl">
                    <div class="front-headlines-header">
                    <!-- enter search function here -->
                      <h5 class="headlines-header-title">Search Nearby Eats</h5>
                      <div smallinput></div>
                      <p class="headlines-header-time"></p>

                      
                    </div>
                    <div class="headline-collection clearfix listview" data-vr-zone="Headline-Grid">

                      <div class="headline-page active"  ng-cloak>
                        <div class="headline headline-asset-item headline-asset-item-card hasimage" ng-repeat="event in listings">

                           <a class="anchor headline-grid-load-story" href="#/events/{{event.id}}">
                            <div class="headline-asset-item-front tile headline-asset-item-news-tile headline-asset-item-tile">
                              <div class="image-wrap">
                                <img src="{{event.default_image.image}}" width="200" height="220" alt="{{event.online_description}}" class="headline-grid-image">
                              </div>
                              <h3 class="title image headline-asset-item-front-title">
                                <span class="content-info-icon-text">{{event.title}}</span>
                              </h3>
                            </div>
                            <div class="headline-asset-item-back tile headline-asset-item-tile headline-asset-item-news-tile ">
                              <h3 class="title headline-asset-item-back-title">{{event.title}}</h3>
                              <p class="headline-asset-item-back-text" data-fulltext="{{event.online_description}}">{{event.online_description | limitTo: 75 }}</p>
                              <p class="headline-asset-item-back-listview-text" data-fulltext="{{event.online_description}}">{{event.online_description | limitTo: 75 }}</p>
                              <ul class="headline-asset-item-meta ">
                                <li class="headline-asset-item-section">
                                  <span class="content-info-icon-text">{{event.categories[1].name}}</span>
                                </li>
                                <li class="headline-asset-item-time">
                                  <span>{{event.occurrences[0].startdatetime | date:'MM/dd @ h:mm'}}</span>
                                </li>
                              </ul>
                              <div class="authors byline byline-nopub headline-asset-item-byline">
                                <span class="author"><em>{{event.listing.phone}}</em></span>
                              </div>
                            </div>
                          </a>
                          </div>

                      </div>
                    </div>
<!-- enter auto-repeating stuff here -->
                    
                    <div class="headlines-show-more">
<!-- link to load next 9 events -->
                      <a href="" ng-click="next()" class="button-add-content" data-default="Show More News" data-next="" data-loading="Loading More News">Show More News</a>
                    </div>
                  </section>