<section id="module-position-2" class="quicklinks-module card-suspender">
    <p class="slst-header">
        Quick Links
    </p>
    <ul class="quick-links-list">
        <li class="quick-links-item">
            <a href="#/" class="clst-link" >Events Home</a>
        </li>
        <li class="quick-links-item">
            <a href="#/bestbets/" class="clst-link" >Best Bets</a>
        </li>
        <li class="quick-links-item">
            <a href="#/dining/" class="clst-link" >Dining</a>
        </li>
<!--         <li class="quick-links-item">
            <a href="#/listings/" class="clst-link" >Listings</a>
        </li> 
        <li class="quick-links-item">
            <a href="#/search/" class="clst-link" >Advanced Search</a>
        </li>
        <li class="quick-links-item">
            <a href="#/search/advanced/" class="clst-link" >Super Advanced Search</a>
        </li>-->
    </ul>
</section>