<section id="module-position-6" class="card-primary local-weather-module">
                    <div class="local-weather light large-icons right-now-weather-primary">
                      <div class="local-weather-primary-module">
                        <h5 class="local-weather-primary-module-title">Local Weather</h5>
                        <p class="local-weather-location">Indianapolis, IN</p>
                        <ul class="local-weather-forecast">
                          <li class="local-weather-forecast-item first">
                            <p class="local-weather-forecast-hour">Monday</p>
                            <div class="local-weather-wicon wicon-3" title=""></div>
                            <p class="local-weather-forecast-temperature">38<sup>°</sup>/14<sup>°</sup></p>
                          </li>
                          <li class="local-weather-forecast-item ">
                            <p class="local-weather-forecast-hour">Tuesday</p>
                            <div class="local-weather-wicon wicon-22" title=""></div>
                            <p class="local-weather-forecast-temperature">16<sup>°</sup>/0<sup>°</sup></p>
                          </li>
                          <li class="local-weather-forecast-item ">
                            <p class="local-weather-forecast-hour">Wednesday</p>
                            <div class="local-weather-wicon wicon-19" title=""></div>
                            <p class="local-weather-forecast-temperature">17<sup>°</sup>/-2<sup>°</sup></p>
                          </li>
                          <li class="local-weather-forecast-item ">
                            <p class="local-weather-forecast-hour">Thursday</p>
                            <div class="local-weather-wicon wicon-3" title=""></div>
                            <p class="local-weather-forecast-temperature">15<sup>°</sup>/-6<sup>°</sup></p>
                          </li>
                        </ul>
                        <p class="local-weather-more-btn-wrap">
                          <a class="ui-btn ui-light local-weather-btn" href="/weather/" data-ht="localweather|moreweather">More Weather</a>
                        </p>
                        <div class="right-now-sponsor-wrapper">
                          <div class="partner-placement right-now-weather-sponsorship-ad">
                            <div class="right-now-weather-presented sponsored-by-text">presented by</div>
                          </div>
                        </div>
                      </div>
                      <div class="partner-placement right-now-weather-rectangle-ad poster-ad-primary toggleView" data-ad-type="poster" data-ad-placement="poster_front" data-ad-sizes="mediumrectangle"></div>
                    </div>
                  </section>