<header data-default-fixed="false" data-default-open="true" class=" site-header">
			<div class="site-header-inner-wrap">
				<div class="site-masthead">
					<a class="site-masthead-logo-link" data-ht="Headerusatoday" href="http://www.indystar.com/"><img class="site-masthead-logo-img" src="http://www.gannett-cdn.com/sites/indystar/images/site-masthead-logo@2x.png" height="80" alt="Indianapolis Star"></a>
					<div class="site-masthead-search-wrap">
						<form class="site-masthead-search-form ui-ajax-form" action="http://www.indystar.com/search/" method="get" data-mapping="&lt;%= q %&gt;/">
							<div class="site-masthead-search-input-wrap ui-form-field-container">
								<input class="site-masthead-search-form-input ui-text-input" data-clearable="true" type="text" name="q" autocomplete="off">
							</div><input class="site-masthead-search-btn submit" type="submit" value="Search">
							<div class="site-masthead-search-btn site-masthead-search-btn-div">
								Search
							</div>
						</form>
					</div>
				</div>
				<nav class="site-nav">
					<ul class="site-nav-list">
						<li class="site-nav-item site-nav-end-item site-nav-logo-item">
							<a class="site-nav-link site-nav-logo-link" href="http://www.indystar.com/"><img class="site-nav-logo-img" src="http://www.gannett-cdn.com/sites/indystar/images/site-nav-logo@2x.png" height="40" alt="Indianapolis Star"></a>
						</li>
						<li class="site-nav-item site-nav-item-theme-dark-blue site-nav-primary-item site-nav-end-item site-nav-first-primary-item site-nav-text-item site-nav-home-item site-nav--item site-nav-module site-nav-home-module" id="module-position-M5J927CRfCk">
							<a class=" site-nav-link site-nav-link-theme-dark-blue site-nav-end-link site-nav-first-primary-link site-nav-text-link site-nav-home-link" href="http://www.indystar.com/" data-ht="Headerhome"><span class="site-nav-span site-nav-span-theme-dark-blue site-nav-end-span site-nav-first-primary-span site-nav-text-span site-nav--span site-nav-home-span">Home</span></a>
						</li>
						<li class="site-nav-item site-nav-item-theme-dark-blue site-nav-primary-item site-nav-text-item site-nav-news-item site-nav-news-item site-nav-module site-nav-news-module" id="module-position-M5J927DCDIo">
							<a class=" site-nav-link site-nav-link-theme-dark-blue site-nav-text-link site-nav-news-link" href="http://www.indystar.com/news/" data-ht="Headernews"><span class="site-nav-span site-nav-span-theme-dark-blue site-nav-text-span site-nav-news-span site-nav-news-span">News</span></a>
						</li>
						<li class="site-nav-item site-nav-item-theme-dark-blue site-nav-primary-item site-nav-text-item site-nav-sports-item site-nav-sports-item site-nav-module site-nav-sports-module" id="module-position-M5J927D1wcs">
							<a class=" site-nav-link site-nav-link-theme-dark-blue site-nav-text-link site-nav-sports-link" href="http://www.indystar.com/sports/" data-ht="Headersports"><span class="site-nav-span site-nav-span-theme-dark-blue site-nav-text-span site-nav-sports-span site-nav-sports-span">Sports</span></a>
						</li>
						<li class="site-nav-item site-nav-item-theme-dark-blue site-nav-primary-item site-nav-text-item site-nav-life-item site-nav-life-item site-nav-module site-nav-life-module" id="module-position-M5J927DizNs">
							<a class=" site-nav-link site-nav-link-theme-dark-blue site-nav-text-link site-nav-life-link" href="http://www.indystar.com/life/" data-ht="Headerlife"><span class="site-nav-span site-nav-span-theme-dark-blue site-nav-text-span site-nav-life-span site-nav-life-span">Life</span></a>
						</li>
						<li class="site-nav-item site-nav-item-theme-dark-blue site-nav-primary-item site-nav-text-item site-nav-thingstodo-item site-nav-thingstodo-item site-nav-module site-nav-thingstodo-module" id="module-position-M5J927CFKTg">
							<a class=" site-nav-link site-nav-link-theme-dark-blue site-nav-text-link site-nav-thingstodo-link" href="http://www.indystar.com/thingstodo/" data-ht="Headerthingstodo"><span class="site-nav-span site-nav-span-theme-dark-blue site-nav-text-span site-nav-thingstodo-span site-nav-thingstodo-span">Things To Do</span></a>
						</li>
						<li class="site-nav-item site-nav-item-theme-dark-blue site-nav-primary-item site-nav-text-item site-nav-opinion-item site-nav-opinion-item site-nav-module site-nav-opinion-module" id="module-position-M5J927FdLGk">
							<a class=" site-nav-link site-nav-link-theme-dark-blue site-nav-text-link site-nav-opinion-link" href="http://www.indystar.com/opinion/" data-ht="Headeropinion"><span class="site-nav-span site-nav-span-theme-dark-blue site-nav-text-span site-nav-opinion-span site-nav-opinion-span">Opinion</span></a>
						</li>
						<li class="site-nav-item site-nav-item-theme-dark-blue site-nav-primary-item site-nav-text-item site-nav-obituaries-item site-nav-http:--www.legacy.com-obituaries-indystar-item site-nav-module site-nav-obituaries-module" id="module-position-M5J927EkkMc">
							<a class=" site-nav-link site-nav-link-theme-dark-blue site-nav-external-text-link site-nav-text-link site-nav-obituaries-link" href="http://www.legacy.com/obituaries/indystar/" data-ht="Headerobituaries" target="_blank"><span class="site-nav-span site-nav-span-theme-dark-blue site-nav-text-span site-nav-http:--www.legacy.com-obituaries-indystar-span site-nav-obituaries-span">Obituaries</span></a>
						</li>
						<li class="site-nav-item site-nav-item-theme-dark-blue site-nav-primary-item site-nav-end-item site-nav-last-primary-item site-nav-icon-item site-nav-media-item site-nav-media-latest-news-item site-nav-module site-nav-media-module" id="module-position-M5J927FIUr4">
							<a class=" site-nav-link site-nav-link-theme-dark-blue site-nav-end-link site-nav-last-primary-link site-nav-icon-link site-nav-media-link" href="http://www.indystar.com/media/latest/news/" data-ht="Headermedia"><span class="site-nav-span site-nav-span-theme-dark-blue site-nav-end-span site-nav-last-primary-span site-nav-icon-span site-nav-media-latest-news-span site-nav-media-span">Media</span></a>
						</li>
						<li class="site-nav-item site-nav-item-theme-dark-blue site-nav-secondary-item site-nav-end-item site-nav-last-secondary-item site-nav-icon-item site-nav-search-item site-nav-search-item site-nav-module site-nav-search-module" id="module-position-M5J927Hd6wc">
							<a class=" site-nav-link site-nav-link-theme-dark-blue site-nav-end-link site-nav-last-secondary-link site-nav-icon-link site-nav-search-link" href="http://www.indystar.com/search" data-ht="Headersearch"><span class="site-nav-span site-nav-span-theme-dark-blue site-nav-end-span site-nav-last-secondary-span site-nav-icon-span site-nav-search-span site-nav-search-span">Search</span></a>
						</li>
						<li class="site-nav-item site-nav-item-theme-dark-blue site-nav-secondary-item site-nav-end-item site-nav-first-secondary-item site-nav-icon-item site-nav-social-item site-nav--item site-nav-module site-nav-social-module" id="module-position-M5J927Hz0Nc">
							<a class=" site-nav-link site-nav-link-theme-dark-blue site-nav-end-link site-nav-first-secondary-link site-nav-icon-link site-nav-social-link" href="#" data-ht="Headersocial"></a>
							<div class="site-nav-span site-nav-icon-span site-nav-span-wrap"></div>
							<div class="site-nav-social-module-dropdown">
								<div class="social-dropdown-item facebook">
									<iframe src="http://www.facebook.com/plugins/like.php?href=https%3A//www.facebook.com/indianapolis.star&amp;width=450&amp;height=46&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;send=true&amp;appId=307668062595402" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px;" allowtransparency="true"></iframe>
								</div>
								<div class="social-dropdown-item twitter">
									<div class="twitter-follow">
										<a class="twitter-follow-label" href="https://twitter.com/intent/user?screen_name=indystar" target="_blank">Follow</a>
									</div>
								</div>
								<div class="social-dropdown-item google-plus">
									<div class="g-follow" data-annotation="bubble" data-height="20" data-href="https://plus.google.com/111728717612891266673" data-rel="publisher"></div>
								</div>
							</div>
						</li>
					</ul>
				</nav>
				<div id="breaking-bar" class=""></div>
			</div><script type="json/headermodules" class="headermodules headermodules-primary">
{ "js_modules": [{"layoutType": "NAV_MODULES", "position": "M5J927CRfCk", "name": "link", "options": null}, {"layoutType": "NAV_MODULES", "position": "M5J927DCDIo", "name": "link", "options": null}, {"layoutType": "NAV_MODULES", "position": "M5J927D1wcs", "name": "link", "options": null}, {"layoutType": "NAV_MODULES", "position": "M5J927DizNs", "name": "link", "options": null}, {"layoutType": "NAV_MODULES", "position": "M5J927CFKTg", "name": "link", "options": null}, {"layoutType": "NAV_MODULES", "position": "M5J927FdLGk", "name": "link", "options": null}, {"layoutType": "NAV_MODULES", "position": "M5J927EkkMc", "name": "link", "options": null}, {"layoutType": "NAV_MODULES", "position": "M5J927FIUr4", "name": "link", "options": null}] }
			</script><script type="json/headermodules" class="headermodules headermodules-secondary">
{ "js_modules": [{"layoutType": "NAV_MODULES", "position": "M5J927Hd6wc", "name": "link", "options": null}, {"layoutType": "NAV_MODULES", "position": "M5J927Hz0Nc", "name": "site-nav-social-module", "options": null}] }
			</script>
		</header>