
      <article id="cards" class="cards">
        <div class="partner-placement partner-slider-ad">
          <a href="#" class="partner-slider-close ui-sprite-before">Close</a>
        </div>
        <div class="card-container">
          <div class="card-wrap">
            <div class="partner-placement partner-pushdown-ad" id="ad-position-53" data-monetization-id="high_impact" data-monetization-sizes="pushdown,iabpushdown,iabpushdown2,billboard">
              <a href="#" class="partner-close"></a>
            </div>


            <section id="section_home" class="home card   card-bumped" data-section-id="home" data-subsection-id="">
              <div class="partner-leavebehind compact" id="ad-position-72" style="display: none;"></div>
              <div class="card-full-width" id="card_full_width_main">
                <!-- stuff -->
                <a href="#" class="open-sidebar sidebar-button"><div class="icon"></div> RIGHT NOW</a>
                <div class="card-primary-wrapper clearfix">
                  <div class="card-suspender-color home"></div>
                  <!-- top left sidebar partial -->                  
                  <div sidebar></div>
                  <!-- hero controller -->
                  <div herocontainer ng-controller="BestbetscontrollerCtrl"  ng-cloak></div>
                  <!-- secondary left sidebar . not yet a partial -->
                  <section id="module-position-4" class="quicklinks-module card-suspender">
                    <ul class="quick-links-list">
                    </ul>
                  </section>
                  <div weather></div>
                  
                  <!-- main card/list container -->
                  <div card-primary><img src="images/windmill-loader_1x_dark.gif"></div>
                  <!-- video carousel? wat? -->
                  <section id="module-position-8" class="video-carousel-module card-primary-suspender">
                    <div class="video-carousel-suspender card-suspender"></div>
                  </section>
                </div>
                <!-- sidebar content -->
                <div sidebarrightmainevents></div>
              </div>

              <section id="module-position-16" class="blogs-module card-full-width"></section>
              <div class="sh_bottom"></div>
            </section>
          </div>
        </div>
      </article>

<starfooter></starfooter>